.footer {
  background-color: #4cacbc;
  flex-direction: column;
  padding: 35px 0 35px 0;
  display: flex;
}

.footer h4 {
  text-align: left;
  font-size: 1.3rem;
  color: #fff;
  line-height: 1.5;
  margin-left: 80px;
}

.footer p {
  text-align: left;
  color: #fff;
  line-height: 1.5;
  margin-left: 80px;
}

.footer .aluno {
  margin-top: 20px;
  font-weight: 700;
}
